<%- include("partials/header") %>


<form action="/submitQuiz" method="post" id="quizForm">
  <%- include('register') %>
  <% quizz.forEach(function(quiz,i){ %>

  <main class="container" style="margin-top: 35px">
    <div class="bg-light p-5 rounded shadow-lg p-3 mb-5 bg-body rounded" >

      <h4><%= i+1 %>. <%= quiz.title %><sup style="color: rgb(252, 6, 6);">&nbsp;*</sup></h4>

      <% quiz.options.forEach(function(opt,j){ %>

        <div class="container" style="margin-bottom: 4px;" id="button-list" >
          <input name="<%= quiz._id %>" type="radio" autocomplete="off" value="<%= opt %>" required/>
          <label for="<%= opt %>" value="<%= opt %>" > <%= opt %> </label>
        </div>

      <% }) %>

    </div>
  </main>

  <% }) %>

  <center><button class="btn btn-outline-info"" type="submit" style="font-weight: 10px; padding-left: 30px;  padding-right: 30px; margin-top: 30px; margin-bottom: 30px;"><b>Submit</b></button></center>

</form>


<%- include("partials/footer") %>






